<ng-container *ngIf="{ value: result$?.Value | async, error: result$?.Error | async, loading: result$?.Loading | async } as vm">
	<mat-card *ngIf="form && vm">
		<form [formGroup]="form" (submit)="onSubmit()">
			<mat-card-header>
				<mat-card-title>Login</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<mat-form-field appearance="fill" hideRequiredMarker class="w-100">
					<mat-label>Email</mat-label>
					<input matInput [formControl]="form.controls.Email" required email>
					<mat-error>Error</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill" hideRequiredMarker class="w-100">
					<mat-label>Password</mat-label>
					<input matInput [formControl]="form.controls.Password" required>
					<mat-error>Error</mat-error>
				</mat-form-field>

				<mat-divider></mat-divider>
			</mat-card-content>

			<mat-card-actions align="end">
				<a class="text-center w-50" mat-button routerLink="../signup">Don't have an account?</a>
				<button [disabled]="form.invalid || vm.loading === true" mat-flat-button color="primary" type="submit" class="w-50">Login</button>
			</mat-card-actions>

			<mat-card-footer>
				<mat-progress-bar *ngIf="vm.loading === true" mode="indeterminate"></mat-progress-bar>
			</mat-card-footer>
		</form>
	</mat-card>
</ng-container>
