@use "@angular/material" as mat
@import '@angular/material/prebuilt-themes/purple-green.css'

@include mat.core()


html body
	width: 100%
	height: 100%
	margin: 0
	padding: 0

mat-snack-bar-container > div
	background-color: inherit !important
	padding-right: 0 !important

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'

mat-icon.as-font
	font-size: inherit !important
	width: max-content !important
	height: max-content !important

.hover-cursor:hover
	cursor: pointer
